ion-slides.imageListSlider {
    height: 100%;
}

ion-slides.imageListSlider {
    height: 100%;
}

ion-slides.imageListSlider ion-img {
    width: calc(100% - 30px);
}

ion-slides.imageListSlider .sliderTitle{
    width: 100%;
    display: block;
    position: absolute;
    top: 28px;
}